@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", arial;
}
html,
body {
  width: 100%;
}
.container {
  width: 85vw;
  height: 150px;
  margin: 0 auto;
}
.navbar {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.navbar ul li a {
  color: #656565;
  text-decoration: none;
  font-family: "Roboto", arial;
}
.navbar ul li:nth-child(1) span {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.navbar ul li:nth-child(1) a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar ul li:nth-child(1) img {
  width: 25px;
}
.navbar ul li:not(:nth-child(1)) {
  font-size: 0.8rem;
}
.navbar ul li:nth-child(3) {
  margin-right: auto;
}
.navbar ul li:nth-child(4) a,
.navbar ul li:nth-child(5) a {
  font-weight: bold;
}
.navbar ul li + li {
  margin-left: 25px;
}
.header {
  width: 100%;
  height: 500px;
  background: #38b4e2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header_left {
  height: 100%;
  flex-basis: 80%;
  padding-left: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.header_left h1,
.header_left p {
  color: #FFF;
}
.header_left h1 {
  font-size: 2.5rem;
}
.header_left p {
  font-size: 1.7rem;
  font-weight: 300;
}
.header_left a {
  background: #FFF;
  color: #38b4e2;
  display: inline-block;
  padding: 15px 60px;
  margin-top: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  transition: box-shadow 0.125s ease-in-out;
}
.header_left a:hover {
  box-shadow: -5px 5px 4px rgba(101, 101, 101, 0.4);
}
.header_right_image {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.header_right_image img {
  position: relative;
  top: 50px;
  left: -50px;
  width: 90%;
}
