@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

// Fonts
@font-family: "Roboto", arial;

// Colors
@black: #656565;
@white: #FFF;
@blue: #38b4e2;
@gray: darken(@white, 3%);

// Color Assignments
@font-color: @black;
@main-bg: @blue;
@button-bg: @blue;

// Media Queries
@mobile: ~"(min-width: 425px)";
@tablet: ~"(min-width: 768px)";
@laptop: ~"(min-width: 1024px)";
@laptop-large: ~"(min-width: 1440px)";