footer {
    width: 100vw;
    height: 60px;

    @media @tablet {
        width: 95vw;
        margin: 0 auto;
    }

    background: @main-bg;

    .flex();

    padding: 0 2%;

    p {
        color:@white;
        margin-right: auto;
    }

    a + a {
        margin-left: 25px;
    }
}