.navbar {
    &_desktop {
        height: 60px;
        display: none;
        
        @media @tablet {
            .flex();
        }

        div {
            width: auto;
            .flex();

            h1{
                font-size: 2rem;
            }

            h1, svg path, svg circle {
                fill: @main-bg;
                color: @main-bg;
            }

            svg {
                width: 30px;
            }
        }

        ul {
            flex-grow: 1;
            .flex(@jc: flex-start);
            margin-left: 15px;

            li {
                & + li {
                    margin-left: 15px;
                }

                &:nth-of-type(2) {
                    margin-right: auto;
                }

                &:nth-child(1n + 3) a {
                    font-weight: bold;
                }

                a {
                    color: @black;
                    text-decoration: none;
                }
            }
        }

    }
    &_mobile {        
        background: @main-bg;
        padding: 10px 0;
        .flex(@dir: column);
        
        @media @tablet {
            display:none;
        }

        &_heading {
            .flex();

            h1{
                font-size: 1.4rem;
                color:@white;
            }

            svg {
                path, circle {
                    fill: @white;
                }
                width: 30px;
            }
        }

        &_list {
            width: 90%;
            ul {
                .flex(@jc:space-between);

                div li:nth-of-type(2) {
                    margin-top: 10px;
                }

                div:last-of-type li {
                    font-weight: bold;
                }

                a{
                    text-decoration: none;
                    color: @white;
                }
            }
        }
    }
}